<% provide(:title, 'Lista de Usuarios') %>

      <h1 class="title is-large">
        Lista de Usuarios
      </h1>

 <section class="section">
    <div class="container">
      <ol class="users">
       <% @users.each do |user| %>
        <h1 class="title">
<span><%= link_to user.name, user %></span>
        </h1>
      <p class="subtitle">
        <%=  user.email %>
      </p>
      <% end %>
      <%= paginate @users%>
      </ol>
    </div>
  </section>