<% provide(:title, 'Lista de Usuarios') %>

      <h1 class="title is-large">
        Lista de Usuarios
      </h1>

 <section class="section">
    <div class="container">
      <ol class="users">
   <%= render @users %>
      <%= paginate @users%>
      </ol>
    </div>
  </section>