<% provide(:title, 'perfil') %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1 class='title'>
        <%= @member.name %> 
      </h1>
      <h4>
        <%= @member.email %> 
      </h4>      
        <div class="col-md-8">
          <% if @user.calos.any? %>
            <h3>Calos (<%= @user.calos.count %>)</h3>
            <ol class="calos">
              <%= render @calos %>
            </ol>
          <% end %>
        </div>
    </section>
  </aside>
</div>
 
